* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.758);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculator {
    padding: 30px;
    border-radius: 10px;
    background: transparent;
    box-shadow: -5px -5px 10px 4px rgba(0, 0, 0, 0.404);
}

input {
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: transparent;
    box-shadow: -5px -3px 15px 2px rgba(6, 6, 6, 0.68);
    font-size: 25px;
    cursor: pointer;
    margin: 12px;
    font-weight: bold;
    color: white;
    height: 90px;
}

input::placeholder {
    color: white;
}

button {
    border: none;
    width: 65px;
    height: 65px;
    margin: 12px;
    border-radius: 50%;
    background: transparent;
    box-shadow: -8px 5px 10px 4px rgba(25, 24, 24, 0.664);
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.operators {
    color: orange;
    font-size: 25px;
}

.equal {
    background-color: orange;
    color: rgba(0, 0, 0, 0.884);
    font-weight: bold;
}